{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
        input,button,textarea,select{
            margin: 10px;
        }
    </style>
</head>
<body>
    <div style="display: flex;flex-wrap: wrap;float:left;width: 100%;justify-content: center;">
        <div style="padding: 1%;border:2px solid lightgrey;">
            <h3>Notification</h3>
            <form id="notif_form" method="POST">
                {% csrf_token %}
                <select id="id_target" name="target">
                    <option>Teacher</option>
                    <option>HM</option>
                    <option>Block Admin</option>
                    <option>District Admin</option>
                    <option>State Admin</option>
                </select><br>
                <input type="text" name="msg_head" id="id_msg_head" maxlength="40" placeholder="Notification Head"><br>
                <textarea type="text" name="msg_body" id="id_msg_body" maxlength="100" placeholder="Notification Body" rows="5"></textarea><br>
                <button type="submit">Push Notify</button>
            </form>
        </div>

        <div style="padding: 1%;border:2px solid lightgrey;">
            <h3>Send Emails</h3>
            <form id="email_form" method="POST">
                {% csrf_token %}
                <input type="text" name="sbj" id="id_sbj" maxlength="40" placeholder="Subject"><br>
                <textarea type="text" name="msg" id="id_msg" placeholder="Message" rows="5"></textarea><br>
                <input type="email" name="email" id="id_email" placeholder="Email"><br>
                <button type="submit">Send Email</button>
            </form>
        </div>
    </div>

    <script src="{% static 'jquery-3.4.1.js' %}"></script>

    <script type="text/javascript">
        $('#notif_form').submit(function(event){
            event.preventDefault();
            var form_data = new FormData($('#notif_form')[0])
            $.ajax({
                url:'/notif_form/',
                type:'POST',
                contentType:false,
                processData:false,
                data: form_data,
                success:function(data){
                    alert(data)
                    console.log(data)
                },
                error:function(data){
                    alert(data)
                    console.log(data)
                },
            })
        })

        $('#email_form').submit(function(event){
            event.preventDefault();
            var form_data = new FormData($('#email_form')[0])
            $.ajax({
                url:'/email_form/',
                type:'POST',
                contentType:false,
                processData:false,
                data:form_data,
                success:function(data){
                    alert(data)
                    console.log(data)
                },
                error:function(xhr,errmsg,err){
                    alert(xhr.status + ": " + xhr.responseText);
                },
            })
        })
    </script>
</body>
</html>